body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background: 
        linear-gradient(to top, #8BD4E4, transparent 30%),
        white;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
}

/* ====== BIENVENIDA ====== */
.Bienvenida_contain{
    background-color: transparent;
    display: flex;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 50px 100px;
    width: 100%;
    height: 20vh;
    box-sizing: border-box;
}

.Bienvenida_text{
    background-color:transparent;
    font-family: "poppins", sans-serif;
    justify-content: center;
    font-weight: 700;
    text-align: left;
    margin: 0;
    padding: 2px 20px;
    font-size: 32px;
    box-sizing: border-box;
}

.Motivacion_text {
    background-color:transparent;
    font-family: "poppins", sans-serif;
    justify-content: center;
    font-weight: 400;
    text-align: left;
    margin: 0;
    padding: 2px 20px;
    font-size: 18px;
    box-sizing: border-box;
}

/* ===== CARRUSEL PRINCIPAL ===== */
.Contain_Carrusel{
    display: flex;
    width: 100%;
    height: 40vh;
    background-color: transparent;
    box-sizing: border-box;
    padding: 50px 100px;
    justify-content: center;
}

.Carrusel{
    background-color: transparent;
    width: 30%;
    height: 28vh;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    display: flex;
    border-radius: 8px;
    scrollbar-width: none;
    box-sizing: border-box;
    justify-content: center;
    margin: 0;
    align-items: center;
}

.carrusel-track {
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    animation: scroll 16s infinite ease-in-out;
}

.carrusel-track img{
    width: 100%;
    flex-shrink: 0;
    scroll-snap-align: start;
    border-radius: 8px;
    object-fit: cover;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    25% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
    100% { transform: translateX(0); }
}

/* ===== CARRUSEL SECUNDARIO ===== */
.Contain_Recomendaciones {
    position: relative;
    width: 100vw;
    height: 31vh;
    padding-bottom: 20px;
    background-color: transparent;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.Contain_Recomendaciones input {
    display: none;
}

.Carrusel2 {
    position: relative;
    background-color: transparent;
    width: 50%;
    height: 80%;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
}

.slide img {
    width: 100%;
    height: 100%;
    opacity: 70%;
    border-radius: 8px;
    object-fit: cover;
    object-position: top;
    filter: brightness(0.85);
}

.slide p {
    position: absolute;
    font-family: sans-serif;
    padding: 20px;
    bottom: 20px;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

#r1:checked ~ .Carrusel2 .slide:nth-child(1) { opacity: 1; }
#r2:checked ~ .Carrusel2 .slide:nth-child(2) { opacity: 1; }
#r3:checked ~ .Carrusel2 .slide:nth-child(3) { opacity: 1; }

/* Indicadores */
.navegacion2 {
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 8px;
    width: 100%;
}

.navegacion2 label {
    width: 12px;
    height: 12px;
    background: rgba(255,255,255,0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
}

.navegacion2 label:hover {
    background: rgba(255,255,255,0.9);
}

#r1:checked ~ .navegacion2 label[for="r1"],
#r2:checked ~ .navegacion2 label[for="r2"],
#r3:checked ~ .navegacion2 label[for="r3"] {
    background: rgb(240, 239, 239);
}

/* ====== OVERLAY Y MODAL ====== */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-estado {
    width: 80%;
    max-width: 700px;
    height: 250px;
    padding: 40px;
    background: white;
    border-radius: 22px;
    text-align: center;
    box-shadow: 0 8px 25px rgba(0,0,0,0.25);
    
}

.modal-estado h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.modal-estado p {
    font-size: 16px;
    margin-bottom: 30px;
    color: #555;
}

.opciones {
    display: flex;
    justify-content: center;
    gap: 18px;
    margin-bottom: 25px;
}

.nivel {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    font-size: 22px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: transform .2s ease;
}

.n1 { background: #0F0F0F; }
.n2 { background: #0E294A; }
.n3 { background: #255CBF; }
.n4 { background: #3D7DFF; }
.n5 { background: #6AA5FF; }

.nivel:hover {
    transform: scale(1.1);
}

.emojis {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 26px;
    padding: 0 5px;
}
