/* ====== BARRA SUPERIOR ====== */
.Barra_Superior {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
  box-sizing: border-box;
}

.Fitalia_Bar {
  font-weight: 900;
  font-size: 38px;
  margin: 0;
  color: #111;
}

.Menu {
  display: flex;
  gap: 15px;
}

.menu-btn {
  background-color: #000;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  cursor: pointer;
  height: 40px;
  margin-right: 30px;
}

.principal-home {
  background:rgb(188, 187, 188);
  color: #333;
}

.principal-mental {
  background-color: #f2bcef;
  color: #333;
}

.principal-nutricional{
    background-color: #a2f58b;
    color: #333;
}

.principal-Fisica{
    background-color: #75c6f6;
    color: #333;
}




.menu-btn:hover {
  background: #ddd;
  color: #111;
}